h1{
          font-family: Arial;
          padding-top: 15px;
      }

      .section1 {
          border-style: solid;
          border-top-width: 8px;
          border-top-color: #e2e2e2;
          border-right-width: 8px;
          border-right-color: #e2e2e2;
          border-left-width: 8px;
          border-left-color: #e2e2e2;
          border-bottom-width: 0px;
          padding-left: 35px;
      }
      .section2 {
          border-style: solid;
          border-top-width: 0px;
          border-right-width: 8px;
          border-right-color: #f0f0f0;
          border-left-width: 8px;
          border-left-color: #f0f0f0;
          border-bottom-width: 40px;
          border-bottom-color: #f0f0f0;
      }

      .section2-1 {
          padding-left: 35px;
          padding-right: 40px;
      }

      .section2-2 {
          padding-left: 15px;
          padding-right: 15px;
      }

      tr:nth-child(even) {
        margin-left: -10px;
          background: #FFFFFF;
      }
      tr:nth-child(odd) {
          background: #ECECEC;
      }

      p{
          font-family: Arial;
          font-size: 14px;
          margin-top: 30px;
          margin-bottom: 0px;
      }

      table {
          border: 4px #dedede solid;
          border-spacing: 0px;
          height: 70%;
          width:100%;
          text-align: center;
          padding: 0px;
      }